<div class="screen-container">
  <div class="screen-header">
    <div class="screen-row">
      <mat-icon class="screen-back-icon">
        chevron_left
      </mat-icon>
      <div class="screen-column">
        <span class="screen-title">Trabajar</span>
        <span>@javierramos</span>
      </div>
    </div>
    <div class="screen-row">
      <button mat-raised-button class="screen-historical-button">
        Histórico
      </button>
      <button mat-raised-button class="screen-description-button">
        <mat-icon>description</mat-icon>
      </button>
    </div>
  </div>
  <div class="screen-routes">
    <div class="screen-route" routerLink="/screen1">
      <img
        class="screen-img"
        style="margin: 0 2px 4px 0;"
        src="../../../assets/icons/transparent1gris.png"
        alt="screen-img"
      />
    </div>
    <div class="screen-route" routerLink="/screen2">
      <img
        class="screen-img"
        style="margin: 0 2px 8px 0;"
        src="../../../assets/icons/transparent2gris.png"
        alt="screen-img"
      />
    </div>
    <div class="screen-route" routerLink="/screen3">
      <img
        class="screen-img"
        style="margin: 0 0 6px 2px;"
        src="../../../assets/icons/transparent3gris.png"
        alt="screen-img"
      />
    </div>
    <div class="screen-route" routerLink="/screen4">
      <img
        class="screen-img"
        style="margin: 0 0 2px 12px;"
        src="../../../assets/icons/transparent4gris.png"
        alt="screen-img"
      />
    </div>
    <div class="screen-active-route" routerLink="/screen5">
      <img
        class="screen-img"
        style="margin: 0 2px 0 0;"
        src="../../../assets/icons/transparent5verde.png"
        alt="screen-img"
      />
    </div>
  </div>
  <div class="screen-subtitle-row">
    <span>
      Plan de Entrenamiento
    </span>
  </div>
  <div class="screen-content">
    <div class="screen-content-box">
      <div class="screen-scroll"></div>
    </div>
  </div>
  <div class="screen-footer">
    <button mat-raised-button class="screen-send-button">
      ENVIAR
    </button>
  </div>
</div>
